<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="com.jumpproject.www.dao.FreeBoard">

	<!-- 게시글 저장 -->
	<insert id="insertBoard" parameterType="FreeBoard">
		insert into board (
			boardnum
			, id
			, title
			, content
		)
		values (
			board_seq.nextval
			, #{id}
			, #{title}
			, #{content}
		)
	</insert>
	
	<!-- 게시글 읽기 -->
	<select id="getBoard" parameterType="int" resultType="FreeBoard">
		select 
			boardnum
			, id
			, title
			, content
			, to_char(inputdate, 'YYYY-MM-DD HH24:MI:SS') inputdate
			, hits
		from 
			board 
		where 
			boardnum = #{boardnum}
	</select>
	
	<!-- 조회수 1 증가 -->
	<update id="addHits" parameterType="int">
		update
			board
		set
			hits = hits + 1
		where
			boardnum = #{boardnum}
	</update>
	
	<!-- 현재 페이지 목록 (검색 필터링 후) -->
	<select id="listBoard" parameterType="string" resultType="FreeBoard">
		select 
			boardnum
			, id
			, title
			, to_char(inputdate, 'YYYY-MM-DD') inputdate
			, hits
		from 
			board 
		<if test="_parameter != null">
		where 
			title like '%' || #{searchText} || '%'
		</if>
		order by boardnum desc
	</select>


	<!-- 글 삭제 -->
	<delete id="deleteBoard" parameterType="FreeBoard">
		delete
		from
			board
		where
			boardnum = #{boardnum}
			and id = #{id}
	</delete>

	<!-- 글 수정 -->
	<update id="updateBoard" parameterType="FreeBoard">
		update
			board
		set
			title = #{title}
			, content = #{content}
		where
			boardnum = #{boardnum}
			and id = #{id}
	</update>
	
	<insert id="insertReply" parameterType="FreeBoardComments">				
		insert into GroupBoardComments(			
			groupBoardNum
			,groupBoardCommentSeq		
			, groupBoardSeq		
			, gbcid
			, groupBoardComment
		) values (			
			#{groupBoardNum}
			,GROUPBOARDCOMMENTSEQ.nextval		
			, #{groupBoardSeq}		
			, #{gbcid}		
			, #{groupBoardComment}		
		)		
	</insert>
	
	<select id="listReply" parameterType="FreeBoardComments" resultType="FreeBoardComments">					
		select				
			groupBoardNum			
			, groupBoardCommentSeq			
			, groupBoardSeq
			, gbcid		
			, groupBoardComment			
			, to_char(groupBoardCommentDate, 'YYYY-mm-dd hh:mi') groupBoardCommentDate			
		from				
			GroupBoardComments			
		where				
			groupBoardNum = #{groupBoardNum}	
			and groupBoardSeq=#{groupBoardSeq}
		order by groupBoardCommentSeq desc				
	</select>
		
	<select id="selectReply" parameterType="FreeBoardComments" resultType="FreeBoardComments">					
		select				
			groupBoardNum			
			,groupBoardCommentSeq
			,groupBoardSeq			
			, id			
			, text			
			, to_char(groupBoardCommentDate, 'mm-dd hh:mi:ss') groupBoardCommentDate			
		from				
			GroupBoardComments			
		where				
			groupBoardNum = #{groupBoardNum}
			and groupBoardCommentSeq=#{groupBoardCommentSeq}
			and	groupBoardSeq=#{groupBoardSeq}	
	</select>
									
	<update id="updateReply" parameterType="FreeBoardComments">					
		update				
			GroupBoardComments
		set				
			groupBoardComment = #{groupBoardComment}	
		where				
			groupBoardCommentSeq = #{groupBoardCommentSeq}		
			and groupBoardSeq=#{groupBoardSeq}
			and groupBoardNum=#{groupBoardNum}
	</update>
						
	<delete id="deleteReply" parameterType="FreeBoardComments">				
		delete			
		from			
			GroupBoardComments		
		where			
			groupBoardCommentSeq = #{groupBoardCommentSeq}		
			and groupBoardSeq=#{groupBoardSeq}
			and groupBoardNum=#{groupBoardNum}

	</delete>
	
	<select id="getTotal" parameterType="map" resultType="int">					
		select				
			count(*)			
		from				
			GroupBoard
		WHERE
    		GROUPBOARDNUM = #{groupBoardNum}		
			<choose>
				<when test="keyField == 'groupBoardTitle'">and groupBoardTitle LIKE '%' || #{keyWord} || '%'</when>
				<when test="keyField == 'groupBoardId'">and groupBoardId LIKE '%' || #{keyWord} || '%'</when>
				<when test="keyField == 'groupBoardContent'">and groupBoardContent LIKE '%' || #{keyWord} || '%'</when>
			</choose>
	</select>

</mapper>
